/vendor/
node_modules/
.env
.env.backup
.phpunit.result.cache
composer.phar
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/app/*
!/storage/framework/cache/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/logs/.gitkeep
!/storage/app/.gitkeep
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/public/build/
/public/hot/
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
.idea/
.vscode/
